extends layout
block content
  #landscape 
    p. 
      b.
        Rotate Device to Landscape
  #wrapper
    .data
      #car_progress
        progress(id='pbar',max='100',value='0')
      .battshape
        .battcap
        .outer
          #battvalue.inner
      #batttext.battcons
      #mot1.motor1T
      #mot2.motor2T
      #runner  	
    canvas(id='canvasbg')
    canvas(id='canvas1')
    #brake-container
      #brake.round-button
    #acc-container
      #acc.round-button
    #rank
  script(type='text/javascript',src='/javascripts/extra.js')
  script(type='text/javascript',src='/javascripts/main.js')