extends layout
block content
  #landscape 
    p. 
      b.
        Rotate Device to Landscape
  #wrapper
    #data
      #car_progress
        progress(id='pbar',max='100',value='0')
      #battshape
        #battcap
        #outer
          #battvalue.inner
      #batttext.battcons
      #mot1.motor1T
      #mot2.motor2T
      #runner  	
    canvas(id='canvasbg')
    canvas(id='canvas1')
    #brake-container
      #brake.round-button.
        B
    #acc-container
      #acc.round-button.
        A
    #rank
    #messagebox
      #textmessage
      #ok-container
        #ok.
          OK
      #restart-container
        #restart.
          TRY AGAIN
    script(type='text/javascript',src='/javascripts/main.js')