extends layout
block content
  #StartScreen
    h1 EcoRacer
    h2 *** You only have 36 seconds to get out... ***
    h2 *** So beat other drivers by using LESS battery energy! ***
    h2 *** Tap to start ***
    #BrakeText
      h2 Your brake!
    #AccText
      h2 Your throttle!
  #landscape 
    p. 
      <b>Rotate Device to Landscape</b>
  #wrapper
    #data
      #car_progress
        progress(id='pbar',max='100',value='0')
      #battshape
        #battcap
        #outer
          #battvalue.inner
      #batttext.battcons
      #mot1.motor1T
      #mot2.motor2T
      #runner  	
    canvas(id='canvasbg')
    canvas(id='canvas1')
    #brake-container
      #brake.round-button.locked.
        B
    #acc-container
      #acc.round-button.locked.
        A
    #timer
    #messagebox
      #textmessage
      #ok-container
        #ok.
          OK
      #restart-container
        #restart.
          TRY AGAIN
    script(type='text/javascript',src='/javascripts/main.js')